<!-- HEADER CONTENT-->
<header>
    <!--TOP HEADER 1-->
    <div id="#topheader1">
        <div class="container-fluid tophead-container">
            <div class="row ">
                <div class="col-md-6 left-position tophead1-col">
                    <marquee behavior="scroll"direction="left"><a href=""><span> The Applicants will have to create their Login through New Public User link for Reserving of Registration Mark of Choice/Fancy Number </span></a></marquee>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5 right-position tophead2-col">
                    <ul class="top-menu ">
                        <li>
                            <a href="https://parivahan.gov.in/" title="Parivahan Home">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="glyphicon glyphicon-home"></span> Parivahan Home
                            </a>
                        </li>
                        <li>
                            <a href="#main-content">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                <span class="glyphicon glyphicon-arrow-down"></span>
                                Skip to main content
                            </a>
                        </li>
                        <li>
                            <a href="#navbar">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                <span class="glyphicon glyphicon-arrow-down"></span>
                                Skip to navigation
                            </a>
                        </li>
                        <li><a href="#">A<sup>+</sup></a></li>
                        <li><a href="#">A</a></li>
                        <li><a href="#">A<sup>-</sup></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--TOP HEADER 2-->
    <div class="#topheader2">
        <div class="navbar-th2 navbar-class nav-back-th2">
            <div class="nav-ui-grid-row">
                <div class="nav-ui-grid-col-1">
                    <a href="" class="top-space"><img src="/assets/logo/emblem-logo (1).png" alt=""></a>
                </div>
                <div class="nav-ui-grid-col-9">
                    <div class="top-space ministery-text-heading text-uppercase">
                        ministry of road transport and highways
                    </div>
                    <div class="ministery-text-sub-heading">
                        Government Of India
                    </div>
                </div>
                <div class="nav-ui-grid-col-2">
                    <div class="top-space">
                        <a href="" class="top-space"><img src="/assets/logo/e-vahan-logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HEADER NAVIGATION BAR-->
    <nav>
        <div class="collaps navbar-content navbar">
            <ul class="navbar-ul navbar-ul-nav">
                <li class="navbar-ul-li">
                    <a href="">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span class="login-logo">Home </span> 
                    </a>
                </li>
                <li class="navbar-ul-li">
                    <a href=""> <i class="fa fa-sign-out" aria-hidden="true">Logout</i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="main-container-part">
    <div class="row">
        <div class="col-12">
            <div class="form-heading">
                <h2>Reserve Numbers</h2>
            </div>
        </div>

        <div class="col-2">
        </div>
        <div class="col-8" style="background-color: red; height: 80px;">
            <div class="ui-panel-content ui-panel">
                    <span class="ui-panel-title">Reserve Numbers</span>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
