* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
}


/*   TOP-HEADER-1   */
.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.tophead-container {
    min-height: 30px;
    background: #314b65;
    padding-right: 20px;
    padding-left: 15px;
}
 .row {
        margin-right: -15px;
        margin-left: -15px;
    }

.col-md-6 .col-md-1 .col-md-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.col-md-6 marquee span{
    width: 100%;
    overflow: hidden;
    border: none;
    cursor: pointer;
    color: #fff;
    padding-top: 6px;
    font-size: 13px;
}
@media (min-width: 992px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.6666667%;
      
    }

    .col-md-1 {
        width: 8.3%;
    }
}
.tophead2-col{
    padding-top: 4px;
    line-height: 5px;
}
.top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    float: right;
}

.top-menu li {
    float: left;
    padding: 5px 5px 0px 5px;
}

.top-menu li a {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}
sub,sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}


/*   TOP-HEADER-2   */

.nav-back-th2 {
    border-left: 1px solid #1682ba;
    border-right: 1px solid #1682ba;
    border-top: 1px solid #1682ba;
    cursor: pointer;
    z-index: 9999;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    z-index: 1;
    background: #fff;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%);
}

.nav-ui-grid-row {
    display: flex;
    clear: both;
    padding: 0px;
    margin: 0px;
}

.nav-ui-grid-col-1 {
    width: 8.33333%;
}

.nav-ui-grid-col-1 a {
    display: inline-block;
    width: auto;
}

.top-space {
    margin-top: 16px !important;
}

.nav-ui-grid-col-9 {
    width: 75%;
    color: #293f55 !important;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center !important;
}

.nav-ui-grid-col-9 a {
    display: inline-block;
    width: auto;
}

.nav-ui-grid-col-2 {
    width: 16.66%;
}

.ministery-text-heading {
    font-size: 160%;
}

.text-uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

.ministery-text-sub-heading {
    font-size: 155%;
    font-weight: bold;
}

/* HEADER NAVIGATION BAR */
@media (min-width: 768px) {
    .navbar-content .collaps {
        display: flex;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        visibility: visible !important;
    }
}
.navbar-content {
    cursor: pointer;
    z-index: 9999;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    background: #4a7497;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px){
.navbar-nav {
    float: left;
    margin: 0;
}}
.navbar-ul{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}
.navbar-ul li{
    position: relative;
    display: block;
    float: left;
    
}
.navbar-ul li a{
    color: #FFFFFF;
    padding: 9px 9px;
    padding-top: 11.5px;
    padding-bottom: 15px;
  
}
.login-logo{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.main-container-part .row .col-12{
    padding: 20px;
}

.col-12 .form-heading{
    width: 100%;
    margin: 14px 0 0px;
}

.col-12 .form-heading h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: bold;
    color: #1569a0;
    text-decoration: underline;
    text-align: center;
    margin: 4px 0 11px;
    line-height: 19px;
}
.ui-panel{
    border: 1px solid #1682ba;
    background: #FFFFFF ;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    box-sizing: border-box;
    position: relative;
    padding: 0.2em;
}
.ui-panel-title{
    margin: 0.1em 16px 0.2em 0;
}