<!-- HEADER CONTENT-->
<header>
    <!--TOP HEADER 1-->
    <div id="#topheader1">
        <div class="container-fluid tophead-container">
            <div class="row ">
                <div class="col-md-6 left-position tophead1-col">
                    <marquee behavior="scroll"direction="left"><a href=""><span> The Applicants will have to create their Login through New Public User link for Reserving of Registration Mark of Choice/Fancy Number </span></a></marquee>
                </div>
                <div class="col-md-1"> 
                </div>
               
                <div class="col-md-5 right-position tophead2-col">
                    <ul class="top-menu ">
                        <li>
                            <a href="https://parivahan.gov.in/" title="Parivahan Home">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="glyphicon glyphicon-home"></span> Parivahan Home
                            </a>
                        </li>
                        <li>
                            <a href="#main-content">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                <span class="glyphicon glyphicon-arrow-down"></span>
                                Skip to main content
                            </a>
                        </li>
                        <li>
                            <a href="#navbar">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                <span class="glyphicon glyphicon-arrow-down"></span>
                                Skip to navigation
                            </a>
                        </li>
                        <li><a href="#">A<sup>+</sup></a></li>
                        <li><a href="#">A</a></li>
                        <li><a href="#">A<sup>-</sup></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--TOP HEADER 2-->
    <div class="#topheader2">
        <div class="navbar-th2 navbar-class nav-back-th2">
            <div class="nav-ui-grid-row">
                <div class="nav-ui-grid-col-1">
                    <a href="" class="top-space"><img src="/assets/logo/emblem-logo (1).png" alt=""></a>
                </div>
                <div class="nav-ui-grid-col-9">
                    <div class="top-space ministery-text-heading text-uppercase">
                        ministry of road transport and highways
                    </div>
                    <div class="ministery-text-sub-heading">
                        Government Of India
                    </div>
                </div>
                <div class="nav-ui-grid-col-2">
                    <div class="top-space">
                        <a href="" class="top-space"><img src="/assets/logo/e-vahan-logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HEADER NAVIGATION BAR-->
    <nav>
        <div class="collaps navbar-content navbar">
            <ul class="navbar-ul navbar-ul-nav">
                <li class="navbar-ul-li">
                    <a href="">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span class="login-logo">Home </span> 
                    </a>
                </li>
                <li class="navbar-ul-li">
                    <a href=""> Show Auction Result</a>
                </li>
                <li class="navbar-ul-li">
                    <a href=""> Bidding Updates</a>
                </li>
                <li class="navbar-ul-li">
                    <a href=""><span style="font-weight: bold;font-size: larger;font-style: italic;color: white">Search
                            By Number</span></a>
                </li>
                <li class="navbar-ul-li">
                    <a href="">Show Auction Status</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="scroll-news">
            <marquee behavior="scroll" direction="left"><a href=""><span class="scroll-news"> Auction Started Right Now In UP RTO.</span></a></marquee>
    </div>
</header>


<!--Main Content-->
<!--Main Content Header-->
<div id="body-panel">
    <div id="main" class="container-fluid">
        <div class="main-content-row center-position">
            <div class="main-content-col-12">
                <h1 class="main-content-header"> Welcome to Transport Department
                </h1>
            </div>
        </div>

        <!--Main Content Select Items-->
        <div class="main-container-part">
            <div class="row">
                <div class="column">
                    <span class="select-rto">Select RTO</span><br>
                    <select name="cars" id="cars" style="width: 80%;">
                        <option value="">All RTO</option>
                        <option value="0">Aurangabad(38)</option>
                        <option value="1">Mumbai(56)</option>
                        <option value="2">Pune(26)</option>
                        <option value="3">Delhi(28)</option>
                        <option value="4">Lucknow(58)</option>
                    </select>
                </div>
                <div class="column">
                    <span class="select-rto">Select Action</span><br>
                    <select name="cars" id="cars" style="width: 80%;" class="action">
                        <option value="">Select Action</option>
                        <option value="0">ADD RESERVE NUMBER</option>
                        <option value="1">ADD SERIES</option>
                        <option value="2">ASSIGN NUMBER TO VIP</option>
                        <option value="3">ASSIGN/REJECT FANCY NUMBERS AFTER BIDDING RESULT</option>
                        <option value="4">ASSIGN/REJECT FROM PENDING FANCY NUMBERS AFTER BIDDING RESULT</option>
                        <option value="5">BIDDING PROCESS</option>
                    </select>
                </div>
                <div class="column show-form">
                    <button><span class="show-form-button" [routerLink]="['/action']">Show Form</span></button>
                </div>

            
                <div class="col-12">
                    <div class="form-heading">
                        <h2>Welcome to Registration Number Reservation System</h2>
                        <marquee behavior="scroll" direction="left" class="marquee-scroll">
                            <span><b>url :</b></span>
                            <a href="https://parivahan.gov.in">https://parivahan.gov.in</a>
                        </marquee>
                    </div>
                    <div class="col-12 ">
                          <h2><span class="instruction">Instruction For Bidders :</span></h2>
                          <div class="instruction-info">
                          <img src="../../assets/logo/dlflows.png" alt="" class="instruction-image">
                          </div>
                    </div>
                    <div class="col-12">
                        <ul class="instruction-item">
                        <li class="list-group-item">
                            <span class="heading_3">1.A.Short name, extension and commencement.—(1) These Rule may be called the Bihar Motor Vehicle (Amendment) Rule 2019</span>
                        </li>
                        <li class="list-group-item">
                            <span class="heading_3">B. It shall extend to the whole of State of Bihar. </span>
                        </li>
                        <li class="list-group-item">
                            <span class="heading_3">C. It shall come into force from the date of its final publication in the Bihar Gazette</span>
                        </li>
                        <li class="list-group-item">
                            <span class="heading_3">2.Rule 64 of Bihar Motor Vehicle Rule, 1992 shall be substituted by following :-
                                ‘‘64 (1) The registering authority shall allot to the vehicle a registration mark in
                                series which shall begin with the registration mark allotted to the State
                                under sub-Section (6) of Section 41 of the Act and shall be followed by
                                State Code number assigned to the registering authority and then by the
                                figure (alphabet), if any, allotted by the State Transport Commissioner,
                                but the registering authority shall not start series in new alphabet until he
                                had obtained prior written permission of the State Transport
                                Commissioner.’’ 
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span class="heading_3">
                                2.2.The registering authority, on receipt of an application for registration of
                            a motor vehicle, shall assign registration mark under sub-section (3) of
                            State Rules in order of receipt of applications. The registration number
                            to an application shall be next to the registration number alloted to an
                            application but the fancy number could be alloted to the applicants by
                            following established procedure and depositing due fee.
                            </span>
                        </li>

                        <li class="list-group-item">
                            <span class="heading_3">
                                2.3.Following registration numbers of every registration series which is
                                allotted to the Motor Vehicles registered in the State of Bihar are being
                                marked here as Fancy registration numbers and the base price for them
                                are fixed separately for transport vehicles and non-transport vehicles in
                                the following table.
                            </span>
                        </li>
                        </ul>

                        <div class="primary-panel">
                             <table class="table table-responsive">
                                   <th></th>
                             </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>